/* header style */
@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: 'Nomark';
	src: url('../polices/DALMANTI.otf');
	font-weight: normal;
    font-style: normal;
}
header{
    border: 1px solid black;
    width: 100%;

    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0,0 ,0.4);
    color: white;
    box-shadow: 4px 2px 15px black;
    height: 150px;
}

.logo h1{
    /* border: 1px solid black; */
    margin-top: 20px;
    font-family: Nomark;
    font-size: 4.5em;
}
nav ul{
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 800px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    
}
nav ul li {
    list-style: none;
    margin-top: 2%;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: Nomark;
 }
nav ul li a:hover{
    /* border: 1px solid red; */
     font-size: 2.4em;
     /* border-bottom: 2px solid red; */
     padding: 7px 7px;
     transition: 1s;

 }


 #sign
 {
     width: 80%;
     margin:  auto;
     margin-top: 100px;  
 } 
 
 #sign h1
 {
     font-family: Nomark;
     margin-left: 450px;
     padding-bottom: 50px;
     margin-top: -50px;
     font-size: 3em;
 }
 #sign h3
 {
     font-family: Nomark;
     font-size: 1.5em;
     margin-top: -50px;
     margin-left: 600px;
     margin-bottom: 30px;
 }

.a, .b, .c, .d
{
    width: 50%;
}

.btn
{
    font-size: 1.3em;
    border-radius: 0.6em;
    margin-left: 550px;
}